<!-- <app-test2 [isFavorite]="post.isFavorite"></app-test2>
<h1>Template Form Ex:</h1>
<app-temp-form1></app-temp-form1>
<br /><br />
<h1>Reactive Form Ex:</h1>
<app-react-form1></app-react-form1>
<br /><br /> -->
<!-- <h1>Reactive Form Using Material Ex:</h1> -->
<app-mtrl-form></app-mtrl-form>

<br /><br />
<!-- <h1>Reactive Form Using Material Ex2......:</h1> -->
<!-- <app-registration-form></app-registration-form> -->
<br /><br />
<app-log-in-form></app-log-in-form>
<br /><br />
<app-appointment-form></app-appointment-form>

<app-user-dashboard></app-user-dashboard>
